{
    "swagger": "2.0",
    "info": {
        "description": "API para gerenciar licenças de software.",
        "title": "API de Licenças",
        "contact": {},
        "version": "1.0"
    },
    "host": "api-licenca.intelbras-cve-pro.com.br",
    "basePath": "/",
    "paths": {
        "/atualizar-licenca": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Atualiza o status de uma licença com base no código da licença.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Licenças"
                ],
                "summary": "Atualizar status da licença",
                "parameters": [
                    {
                        "description": "Código da licença e novo status",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "codigo": {
                                    "type": "string"
                                },
                                "status": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status atualizado com sucesso",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Erro nos dados enviados",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "404": {
                        "description": "Licença não encontrada",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/atualizar-status-chave": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Atualiza o status de uma chave de acesso existente.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Chaves de Acesso"
                ],
                "summary": "Atualizar status da chave de acesso",
                "parameters": [
                    {
                        "description": "Dados da chave de acesso",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.AtualizarChaveRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status atualizado com sucesso"
                    },
                    "400": {
                        "description": "Erro nos dados enviados"
                    },
                    "404": {
                        "description": "Chave não encontrada"
                    },
                    "500": {
                        "description": "Erro interno ao atualizar status da chave de acesso"
                    }
                }
            }
        },
        "/buscar-chave": {
            "get": {
                "description": "Retorna os dados de uma chave de acesso com base na chave, CPF ou email.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Chaves de Acesso"
                ],
                "summary": "Buscar chave de acesso",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Chave de acesso",
                        "name": "chave",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "CPF do usuário",
                        "name": "cpf",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Email do usuário",
                        "name": "email",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Dados da chave de acesso",
                        "schema": {
                            "$ref": "#/definitions/models.Chave"
                        }
                    },
                    "400": {
                        "description": "Parâmetros inválidos"
                    },
                    "404": {
                        "description": "Chave de acesso não encontrada"
                    },
                    "500": {
                        "description": "Erro interno ao buscar chave de acesso"
                    }
                }
            }
        },
        "/cadastrar-usuario": {
            "post": {
                "description": "Cria um novo usuário no banco de dados.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Autenticação"
                ],
                "summary": "Cadastro de usuário",
                "parameters": [
                    {
                        "description": "Dados do usuário",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.UsuarioRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usuário cadastrado com sucesso",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Erro nos dados enviados",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/chaves": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Lista todas as chaves de acesso cadastradas, com opção de filtrar por email ou CPF.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Chaves de Acesso"
                ],
                "summary": "Listar chaves de acesso",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filtrar por email",
                        "name": "email",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Filtrar por CPF",
                        "name": "cpf",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de chaves de acesso",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.Chave"
                            }
                        }
                    },
                    "404": {
                        "description": "Nenhuma chave de acesso encontrada"
                    },
                    "500": {
                        "description": "Erro interno ao buscar chaves de acesso"
                    }
                }
            }
        },
        "/criar-chave": {
            "post": {
                "description": "Gera uma chave de acesso única e envia por e-mail, caso o CPF ainda não esteja cadastrado.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Chaves de Acesso"
                ],
                "summary": "Criar chave de acesso",
                "parameters": [
                    {
                        "description": "Dados da chave de acesso",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.CriarChaveRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Chave criada com sucesso",
                        "schema": {
                            "type": "object",
                            "additionalProperties": true
                        }
                    },
                    "400": {
                        "description": "CPF já cadastrado",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno ao processar a chave de acesso ou enviar o e-mail",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/criar-licenca": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Gera uma ou mais licenças baseadas na compra e envia um único e-mail com os códigos.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Licenças"
                ],
                "summary": "Criar licença(s)",
                "parameters": [
                    {
                        "description": "Dados da licença",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.LicenseRequest"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Licenças criadas com sucesso"
                    },
                    "400": {
                        "description": "Erro nos dados enviados"
                    },
                    "401": {
                        "description": "Não autorizado"
                    },
                    "500": {
                        "description": "Erro interno ao processar a licença"
                    }
                }
            }
        },
        "/licencas": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Retorna todas as licenças cadastradas ou filtra por código da compra e/ou código da licença.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Licenças"
                ],
                "summary": "Lista licenças",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Código da compra para filtrar",
                        "name": "codigo_compra",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Código da licença para filtrar",
                        "name": "codigo",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.License"
                            }
                        }
                    },
                    "401": {
                        "description": "Não autorizado",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "500": {
                        "description": "Erro interno",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "description": "Autentica o usuário e retorna um token JWT para acesso às rotas protegidas.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Autenticação"
                ],
                "summary": "Login do usuário",
                "parameters": [
                    {
                        "description": "Credenciais do usuário",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "email": {
                                    "type": "string"
                                },
                                "senha": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Token JWT",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "400": {
                        "description": "Erro nos dados enviados",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "401": {
                        "description": "Credenciais inválidas",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    "403": {
                        "description": "Usuário sem permissão",
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "/recuperar-chave": {
            "get": {
                "description": "Busca chaves de acesso por email e envia a chave gerada por e-mail",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Chaves de Acesso"
                ],
                "summary": "Recuperar chaves de acesso",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Email do usuário",
                        "name": "email",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Chave de acesso enviada com sucesso"
                    },
                    "400": {
                        "description": "Email inválido"
                    },
                    "404": {
                        "description": "Nenhuma chave de acesso encontrada"
                    },
                    "500": {
                        "description": "Erro interno ao enviar e-mail"
                    }
                }
            }
        },
        "/webhook/vtex-vendas": {
            "post": {
                "description": "Recebe eventos da VTEX com dados do pedido e inicia o processo de geração de licença automática",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Webhook"
                ],
                "summary": "Webhook da VTEX para pedidos",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Assinatura HMAC do corpo da requisição",
                        "name": "X-VTEX-HMAC-SHA256",
                        "in": "header",
                        "required": true
                    },
                    {
                        "description": "Evento de pedido VTEX",
                        "name": "payload",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/controllers.VtexOrderEvent"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ok",
                        "schema": {
                            "type": "string"
                        }
                    },
                    "400": {
                        "description": "Erro ao ler body ou JSON inválido",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "401": {
                        "description": "Assinatura inválida",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "controllers.VtexOrderEvent": {
            "type": "object",
            "properties": {
                "currentState": {
                    "type": "string"
                },
                "lastChange": {
                    "type": "string"
                },
                "orderId": {
                    "type": "string"
                },
                "salesChannel": {
                    "type": "string"
                }
            }
        },
        "models.AtualizarChaveRequest": {
            "type": "object",
            "properties": {
                "chave": {
                    "type": "string",
                    "example": "chave-1234"
                },
                "conta": {
                    "type": "string",
                    "example": "Conta de exemplo"
                },
                "status": {
                    "type": "string",
                    "example": "Ativada"
                }
            }
        },
        "models.Chave": {
            "type": "object",
            "properties": {
                "chave": {
                    "type": "string"
                },
                "conta": {
                    "type": "string"
                },
                "cpf": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "nome": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.CriarChaveRequest": {
            "type": "object",
            "properties": {
                "cpf": {
                    "type": "string",
                    "example": "12345678901"
                },
                "email": {
                    "type": "string",
                    "example": "email do usuário"
                },
                "nome": {
                    "type": "string",
                    "example": "nome do usuário"
                }
            }
        },
        "models.ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string",
                    "example": "mensagem de erro"
                }
            }
        },
        "models.License": {
            "type": "object",
            "properties": {
                "avisoExpiracaoEnviado": {
                    "type": "boolean"
                },
                "codigo": {
                    "type": "string"
                },
                "codigo_compra": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "deleted_at": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "nome": {
                    "type": "string"
                },
                "quantidade": {
                    "description": "Novo campo para múltiplas licenças",
                    "type": "integer"
                },
                "status": {
                    "type": "string"
                },
                "ultimoAvisoRenovacao": {
                    "type": "boolean"
                },
                "updated_at": {
                    "type": "string"
                },
                "validade": {
                    "type": "integer"
                }
            }
        },
        "models.LicenseRequest": {
            "type": "object",
            "properties": {
                "codigo_compra": {
                    "type": "string",
                    "example": "1234abef"
                },
                "email": {
                    "type": "string",
                    "example": "email do usuário"
                },
                "nome": {
                    "type": "string",
                    "example": "nome do usuário"
                },
                "quantidade": {
                    "description": "Novo campo para múltiplas licenças",
                    "type": "integer"
                },
                "teste": {
                    "description": "opcional",
                    "type": "boolean"
                },
                "validade": {
                    "type": "integer",
                    "example": 36
                }
            }
        },
        "models.UsuarioRequest": {
            "type": "object",
            "properties": {
                "email": {
                    "type": "string",
                    "example": "teste@exemplo.com"
                },
                "senha": {
                    "type": "string",
                    "example": "123456"
                }
            }
        }
    },
    "securityDefinitions": {
        "BearerAuth": {
            "description": "Insira o token no formato `Bearer {seu_token}`",
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}